TABLE {
	border: solid;
	border-width: 1px;
	border-color: black;
	padding:0; 
	border-spacing: 0; 
}
TD, TH {
	border: solid;
	border-width: 1px;
	border-color: black;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 0;
	padding-bottom: 0;
}
TD.Order {
	text-align: center;
	vertical-align: top;
}
TD.Number {
	text-align: center;
}
TD.Player {
	PADDING-RIGHT: 10px; 
	PADDING-LEFT: 10px
}
TD.Bottom {
	BORDER-TOP: medium none; 
}
TD.PlayBox {
 	position: relative; 
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: blue;
	width: 60px; 
	height: 60px;
 //	background-image: url(0b.gif);
}
DIV {
	font-size: 8px; 
	font-family: Arial; 
	font-weight: normal;
	color: Blue;
	position: absolute; 
	width: 30px;
}
DIV.B1B {
	top: 48px;
	left: 30px;
	text-align: right;
}
DIV.B2B {
	top: 2px;
	left: 30px;
	text-align: right;
}
DIV.B3B {
	top: 2px;
	left: 2px;
	text-align: left;
}
DIV.Bscore, DIV.B4B {
		top: 48px;
		left: 2px;
		text-align: left;
}
.Main {
	border: transparent;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	color: #4444FF;
	z-index: -1;
}
.None {
	border: transparent;
}
.Out {
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	color: Red;
	text-align: left;
	position: absolute;
	left: 48px;
	top: 40px;
}

DIV.BoxScore {
	font-size: 9pt;
	font-family: Arial;
	font-weight: normal;
	color: Black;
	position: relative;
	width: 90%;
	border-style: none;
	border-width: 0px;		
	left: 10px;
	text-align: left;
}

.BoxScoreHead {
	font-family: Arial;
	font-size: 10pt;
	background-color: #0000A0;
	color: #FFFFFF;
	text-align: center;
}
.BoxScore {
	font-family: Arial;
	font-size: 10pt;
	text-align: center;
	border-style: solid;
	border-width: 1pt;
	border-color: #C0C0C0;
}
.BoxScoreRuns {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #E0E0E0;
	text-align: center;
	border-style: solid;
	border-width: 1pt;
	border-color: #C0C0C0;
}

.Pitching {
	font-family: Arial;
	font-size: 10pt;
	text-align: center;
	border-style: solid;
	border-width: 1pt;
	border-color: #C0C0C0;
}
.PitchingHead {
	font-family: Arial;
	font-size: 10pt;
	background-color: #00A000;
	color: #FFFFFF;
	text-align: center;
}

.OtherGames {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	width: 100%;
}

#BatterDiv {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 250px; 
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: black;
	z-index: 1000;
	background-color: #CCCCCC;
}
#BatterPic {
	float: left;
	padding-right: 5px; 
	width:90px;
	height:135px;
	object-fit:cover;
}
#MessageDiv {
	position: fixed;
	top: 30%;
	left: 30%;
	width: 300px; 
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	color: black;
	z-index: 1000;
	background-color: #FFFF00;
	padding: 20px;
}
.GameDisplay { 
	position: static;
	font-family: Arial Narrow;
	font-size: 12pt;
	color: black;
	width: 910px;
	border: none;
	vertical-align: top;
}
.At1B {
 	background-image: url(1b.png);
}
.At2B {
 	background-image: url(2b.png);
}
.At3B {
 	background-image: url(3b.png);
}
.Atscore {
 	background-image: url(home.png);
}
.HR {
 	background-image: url(hr.png);
}
.GS {
 	background-image: url(gs.png);
}
.OutAt1B {
 	background-image: url(1out.png);
}
.OutAt2B {
 	background-image: url(2out.png);
}
.OutAt3B {
 	background-image: url(3out.png);
}
.OutAt4B {
 	background-image: url(hout.png);
}
#Audio {visibility:hidden;}